

.character {
    border: 3px solid black;
    display: flex;
    width: 600px;
    margin: auto;
    margin-bottom: 10px;
}

img{
    padding-right: 15px;
    width: 150px;
}

.title {
    text-align: center;
}